@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@1,400;1,700;1,900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  background-color: rgb(234, 197, 197);
  margin-left: -8px;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

/* header */
.header {
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  height: 45px;
  padding-top: 10px;
}

.navbar {
  display: flex;
  padding-left: 15%;
}

.navbar > div > a {
  font-size: 18px;
  color: #f3f3f3;
  padding: 10px 15px;
}

.navbar > div > a:hover {
  color: #0f141e;
}

/* info */

.info {
  font-size: 20px;
  padding: 15px;
  display: flex;
  flex-wrap: nowrap;
}

.section1,
.section2,
.section3 {
  background: rgba(2, 3, 1, 0.6);
  padding: 10px;
  border-radius: 25px;
  justify-content: space-between;
  margin: 15px;
  color: rgb(255, 255, 62);
}

/* footer */
.footer {
  text-align: center;
  background-color: rgb(255, 131, 131);
  padding-top: 120px;
  padding-bottom: 5px;
}
